*{
    background-color: rgba(177, 172, 236, 0.267);
}

.place{
    align-items: left;
    text-align: left;
    padding-left: 1rem;
    margin-top: 4rem;
    
}

.perfil-image{

margin-top:1px;
float:left;
height: 88px;
width: 110px;
}

.texts{
    text-align:left;
    padding-left: 100px;
    align-items: initial;
    margin-left: 1rem;
}


