*{

    background-color: rgba(212, 209, 245, 0.267);
}

.sla {
    
    background-color: rgb(63, 76, 248);
    
}

.option{
    padding-left: 20%;
    color:white;
}

.text{

    background-color: rgba(66, 72, 243, 0.616);
    margin-top: 3rem;
}


#icon{
    height: 100px;
    width:150px;
}





